html(lang=language)
  head
    title #{title}
    each font in cssProperties.fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family="+font media="all")
    style !{cssProperties.variables}

    link(rel="stylesheet" type="text/css" href="/normalize.css")

    script.
        var styleCollection = !{styleCollection};
        var styleSetCollection = !{styleSetCollection};
        var colorCombinationTypeCollection = !{colorCombinationTypeCollection};
        var colorCombination = !{colorCombination};
    script(src="/app-bundle.js")

    block head
block body
block cssPanel
    div(id="css-panel")
        css-panel-color( inline-template="" )
            div(id="css-panel-color" v-on:change="passValuesToStore()")

                label
                    div(class="css-panel__label") Color Combination
                    select(v-model="combinationTypeString" class="css-panel__input" name="combinationType"  v-on:change="updateCombinationType")
                        option(value="none") Selectionner un schéma de couleur
                        option(v-for="type in colorCombinationTypeCollection" v-bind:value="stringify(type.combinationCollection)") {{type.name}}
                input(type="range" min="0" max="10" name="variation-light-amt" v-model="variationLightAmt" @input="updateVariationAmt()" )
                input(type="range"  min="0" max="10" name="variation-sat-amt" v-model="variationSatAmt" @input="updateVariationAmt()" )

                div(v-bind:style="bgColor(dominantColor)" @input="updateColor()")
                    input(type="range" min="0" max="360" v-model="dominantColor.hue")
                    input(type="range" min="0" max="100"  v-model="dominantColor.light")
                    input(type="range" min="0" max="100"  v-model="dominantColor.saturation")
                div(v-for="(color, index) in colorSet.combinationCollection" v-bind:style="bgColor(color)" v-on:input="updateCombinationColor(index, color)")
                    input(type="range" min="0" max="360" v-model="color.hue")
                    input(type="range" min="0" max="100"  v-model="color.light")
                    input(type="range" min="0" max="100"  v-model="color.saturation")
                    div(v-for="subColor in color.subCombination" class="sub-combination" v-bind:style="bgColor(subColor)")

                    button(v-on:click="removeColor(index)") Remove Color

                button(v-on:click="addColor") Add Color



        css-panel-font(inline-template="" )
            div(id="css-panel-font")
                input(type="text" v-for="colorData in $store.getters.getColorDataCollection" v-bind:value="colorData" )

                fieldset
                    legend Style Set
                    select( v-model="selectedGoogleFont.titleAlt" class="css-panel__input" name="fontFamilyTitleAlt" v-on:change="updateCssFont")
                        option(value="none") Select a style set
                        option(v-for="styleSet in styleSetCollection" v-bind:value="styleSet.id") {{styleSet.configName}}
                fieldset
                    legend Fonts

                    label
                        div(class="css-panel__label") Font size (px)
                        input(type="number" v-model="fontSize"  class="css-panel__input" name="fontSize" v-on:change="updateCssProperty")
                    label
                        div(class="css-panel__label") Main Font
                        select( v-model="selectedGoogleFont.main" class="css-panel__input" name="fontFamilyMain" v-on:change="updateCssFont('main')")
                            option(value="none") Selectionner une font
                            option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                    label
                        div(class="css-panel__label") Alternative Font
                        select( v-model="selectedGoogleFont.alt"  class="css-panel__input" name="fontFamilyAlt" v-on:change="updateCssFont('alt')")
                            option(value="none") Selectionner une font
                            option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                    label
                        div(class="css-panel__label") Title Font
                        select( v-model="selectedGoogleFont.title" class="css-panel__input"  name="fontFamilyTitle" v-on:change="updateCssFont('title')")
                            option(value="none") Selectionner une font
                            option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                    label
                        div(class="css-panel__label") Altenative Title Font
                        select( v-model="selectedGoogleFont.titleAlt" class="css-panel__input" name="fontFamilyTitleAlt" v-on:change="updateCssFont")
                            option(value="none") Selectionner une font
                            option(v-for="font in googleFonts" v-bind:value="font.family") {{font.family}}
                    input(type="text" name="id" value=styleSetId)

                fieldset
                    legend Save
                    label
                        div(class="css-panel__label") Config name
                        input(type="text" class="css-panel__input" name="styleSet" value=styleSetName)
                    button(formaction='/admin/settings/overwrite') Enregistrer
                    button(formaction='/admin/settings/new') Enregistrer une nouvelle configuration
