html(lang=language)
  head
    title #{title}

    link(rel="stylesheet" type="text/css" href="/static/normalize.css")
    script.
        var colorSetCollection = !{colorSetCollection};
        var isLogged = #{isLogged}
        var appName = "#{appName}"
    block head
    body
        v-app(id="rf-vue-container")
            if(isLogged)
                admin-tool-bar(views=views)
                if(isDev)
                    div(id="rf-app-status")
                        span(class="_status") Integration :
                            if(integrationReport.stats.failures === 0)
                                span(class="-success") &nbsp;ok
                            else
                                span(class="-failure") &nbsp;#{integrationReport.stats.failures} failed
                            | &nbsp;(#{intEnd})
                        span(class="_status") Unit tests :
                            if(unitReport.numFailedTests === 0)
                                span(class="-success") &nbsp;ok
                            else
                                span(class="-failure") &nbsp;#{unitReport.numFailedTests} failed
                            | &nbsp;(#{unitEnd})
            block body
