html(lang=language)
  head
    title #{title}

    link(rel="stylesheet" type="text/css" href="/static/normalize.css")
    script.
        var colorSetCollection = !{colorSetCollection};
        var isLogged = #{isLogged}
    block head
block body

block cssPanel
    if(isLogged)
        if(isDev)
            div(id="rf-app-status")

                span(class="_status") Integration :
                    if(integrationReport.stats.failures === 0)
                        span(class="-success") &nbsp;ok
                    else
                        span(class="-failure") &nbsp;#{integrationReport.stats.failures} failed
                    | &nbsp;(#{intEnd})
                span(class="_status") Unit tests :
                    if(unitReport.numFailedTests === 0)
                        span(class="-success") &nbsp;ok
                    else
                        span(class="-failure") &nbsp;#{unitReport.numFailedTests} failed
                    | &nbsp;(#{unitEnd})

        label(id="rf-css-panel-toggle" class="_label --sketchy" for="__rf-css-panel-toggle-check")
            div Panel
            svg(class="css-panel-svg-highlight")

        label(id="rf-admin-panel-toggle" class="_label --sketchy" for="__rf-admin-panel-toggle-check")
            div Admin
            svg(class="css-panel-svg-highlight")

        input(type="checkbox" id="__rf-css-panel-toggle-check" )
        div(id="rf-css-panel")
            include selectorPanel.pug
            include colorPanel.pug
            include mainPanel.pug
        input(type="checkbox" id="__rf-admin-panel-toggle-check" )
        div(id="rf-admin-panel")
            div(id="_admin")
                form(action="/appapi/config/" + settings.id + "?_method=PUT" method="POST")
                    input(type="text" name="id" value=settings.id)
                    input(type="text" name="name" value=settings.name)
                    input(type="text" name="styleSet" value=settings.styleSet)
                    input(type="text" name="language" value=settings.language)
                    input(type="text" name="title" value=settings.title)
                    if settings.devMode
                        input(type="checkbox" checked="checked")
                    else
                        input(type="checkbox")
                    input(type="text" value=settings.messageTimeOut)

                    button submit
